

body {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    }  

.header {
    background-color: rgb(248, 1, 1);
    padding: 30px;
    text-align: center;
    font-size: 35px;
    color: white;
}
.nav {
    width: 30%;
    height: 235px; 
    background: rgba(68, 7, 7, 0.479);
    padding: 50px;
    bottom: 75px;
  }
 .aside{
     background: blueviolet;
     float: right;
  padding: 20px;
  width: 64%;
 }

    .section {
        width: 90%;
background: rosybrown;
float: right;
color: gold;
padding: 10px;
    }

    .footer{
float: right;
border-color: greenyellow;
background-color: hotpink;
padding: 10%;
width: 644px;
    }
    .article{
        background-color: indigo;
        height: 185px;
        width: auto;
        color: red;
        top: 75px;
    }
