body {
    background-color: lightblue;
  }

header {
    background-color: red;
    padding: 30px;
    text-align: center;

}

section {
float: right;
    background-color: rgb(4, 240, 16);
    padding: 15px;
    width: 83%;
    text-align: center;
    height: 30%;
  }

nav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 15%;
    background-color:grey;
    position: fixed;
    height: 100%;
    overflow: auto;
  }

  footer{clear: both;}

  footer {
    text-align: center;
    padding: 3px;
    background-color: DarkSalmon;
    color: white;
  }

  a:link {
    color: blue;
  }

  a:hover {
    color: red;