body {
    background-color: gray;
    color: honeydew;
}

a:hover {
    color: red;
    background-color: transparent;
    text-decoration: underline;
    padding: 5px;
  }

header {

    padding: 5px;
    text-align: left;
    font-size: 30px;
    color: white;
  }
  .container {
    display: flex;
    align-items: center;
    justify-content: center
  }
 

.image {
 flex-basis: left;
 width: 80%;
}

  .text {
    font-size: 20px;
    padding-right: 10px;
    text-align: right;
    float: right;

  }

img {
    align-items: left;
    width: 900px;
    height: 665px;
}

nav {
    float: left;
    width: 10%;
    height: 625px; 
    background: #ccc;
    padding: 20px;
  }
  