body {
    background-color: gray;
    color: honeydew;
}

a:hover {
    color: red;
    background-color: transparent;
    text-decoration: underline;
  }

header {

    padding: 5px;
    text-align: left;
    font-size: 30px;
    color: white;
  }
  .container {
    align-items: center;
    justify-content: center
  }
 
  img {
    max-width: 100%
  }

.image {
 flex-basis: left;
}

  .text {
    font-size: 20px;
    padding-right: 10px;
    text-align: right;
    float: right;
  }
article{
    text-align: right;
}

img {
    align-items: left;
    width: 1150px;
    height: 665px;
}

nav {
    float: left;
    width: 10%;
    height: 625px; 
    background: #ccc;
    padding: 20px;
  }