Body {
Background-color: Black
} 

h1 {
  color: white;
  font-size: 20px;
  text-align: center;
}

p {
  font-size: 12px;
  color: Green;
}

MyDiv {
  
  border: 2px dotted;
  background-color: lightblue;    
  width: 100px;
  height: 100px; 
}

